*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --heading-font:"Barlow Semi Condensed", sans-serif;
    --body-font:"Barlow Semi Condensed",sans-serif;
    --box1-2-4-text-color:#ffffff;
    --box-3-5-text-color:hsl(217, 19%, 35%);
}

html:focus-within {
  scroll-behavior: smooth;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img{
  max-width: 100%;
  display: block;
}
body{  
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color:hsl(210, 46%, 95%);
    font-family:var(--body-font);
    font-size:0.81rem;
    font-weight:400;
    padding:1rem;
    line-height:1.6;
}
.container{
    width:min(90%,80rem);
    margin:0 auto;
}

.testimonials-grid{
    display:grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
    'first'
    'second'
    'third'
    'fourth'
    'fifth';
    padding-block: 1.5rem;
    margin-inline: auto; 
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    grid-auto-rows:min-content;
}
.card{
    background:#fff;
    border-radius:10px;
    padding:2rem;
    margin:1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    overflow:hidden;
    position:relative;
}
 .card:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}
/*content-styling*/
.card-purple{
    background: hsl(270, 48%, 43%);
    color: var(--box1-2-4-text-color);
}
.card-grey{
    background:hsl(217, 19%, 35%);
    color:var(--box1-2-4-text-color); 
}
.card-white{
    background: hsl(0, 0%, 100%);
    color:var(--box-3-5-text-color);
}
.card-dark{
    background: hsl(218, 30%, 25%);
    color:var(--box1-2-4-text-color);
}
.card-light{
    background: hsl(0, 0%, 100%);
    color:var(--box-3-5-text-color);
}

.card:nth-child(1) {
  grid-area:first;
}
.card:nth-child(2) {
  grid-area:second;
}
.card:nth-child(3) {
  grid-area: third;
}
.card:nth-child(4) {
  grid-area: fourth;
}
.card:nth-child(5) {
  grid-area: fifth;
}
/*quote sign on purple card*/
.testimonials-grid .quote {
  background-image: url("bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top 5% right 20%;
}

/*text styling*/
header{
    display:flex;
    align-items:center;
    margin-bottom:1rem;
}
.user-info h1{
    font-family:var(--heading-font);
    font-size:0.75rem;
}
.span{
    font-size:0.85rem;
    margin-top:0.15rem; 
}

.highlight{
    font-size:1.25rem;
    margin-bottom:1rem;
}
.details{
    font-size:0.92rem;
    font-weight:var(--body-weight);
    line-height: 1.5;
    color:inherit;
    opacity:0.85;
}
/*img styling*/
.avatar img{
    height:2.6rem;
    width:2.6rem;
    border-radius:50%;
    box-shadow:2px solid rgba(255,255,255,0.5);
    object-fit:cover;
    margin-right:1.2rem;
}
footer{
    text-align: center;
    color:hsl(218, 30%, 25%);
}
.attribution a{
    color:inherit;
}
.attribution a:hover{
    color:hsl(178, 74%, 20%);
}
/* responsive design*/
@media screen and (min-width: 33em) {
  .testimonials-grid {
      grid-template-areas:
      "first first"
      "second third"
      "fifth fifth"
      "fourth fourth";
  }
}

@media screen and (min-width: 38em) {
  .testimonials-grid {
    grid-template-areas:
     'first first'
     'second fifth'
     'third fifth'
     'fourth fourth';
  }
}

@media screen and (min-width: 54em) {
  .testimonials-grid {
      grid-template-areas:
      "first first second"
      "fifth fifth fifth"
      "third fourth fourth";
  }
}

@media screen and (min-width: 75em) {
  .testimonials-grid {
      grid-template-areas:
      "first first second fifth"
      "third fourth fourth fifth";
  }
}

  
    



